:root {
  --color-primary: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --color-primary-bottom: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  --color-button: hsl(237, 63%, 64%);
  --color-neutral-1: hsl(240, 78%, 98%);
  --color-neutral-2: hsl(234, 14%, 74%);
  --color-neutral-3: hsl(233, 13%, 49%);
  --color-neutral-4: hsl(232, 13%, 33%); }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 40.625%; }
  @media only screen and (min-width: 18.75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (min-width: 85em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url("./images/bg-top.svg") no-repeat top right -50%/50% 50%;
  background-color: var(--color-neutral-1); }
  @media only screen and (min-width: 56.25em) {
    body {
      background: url("./images/bg-top.svg") no-repeat top right, url("./images/bg-bottom.svg") no-repeat left bottom;
      background-color: var(--color-neutral-1); } }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 700; }

.heading-primary {
  font-size: 3.2rem; }

.card__heading {
  font-size: 1.8rem; }

.card__heading-sub {
  font-size: 1.5rem; }

.card__heading-price-monthly {
  font-size: 6.5rem; }

.card__heading-price-annually {
  font-size: 6.5rem; }

.dollar {
  font-size: 4rem; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.3rem; }

.attribution {
  font-size: 1.3rem; }

.toggle__input {
  opacity: 0; }

.toggle__switch {
  position: relative;
  top: -5px;
  margin: 0 2rem;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  height: 3.2rem;
  width: 5.6rem;
  border: none;
  border-radius: 10rem;
  background: var(--color-primary); }
  .toggle__switch::after {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    max-width: 2.5rem;
    width: 100%;
    border-radius: 50%;
    background-color: var(--color-neutral-1);
    margin-left: 0.5rem;
    transition: transform 0.35s ease-in-out; }

.toggle__label {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  color: var(--color-neutral-2); }

.toggle__input:checked ~ .toggle__switch::after {
  transform: translateX(2.2rem); }

.toggle__input:checked ~ * .card__heading-price-monthly {
  display: inline-block; }

.toggle__input:checked ~ * .card__heading-price-annually {
  display: none; }

.card {
  padding: 4rem 3.5rem 3rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1); }
  .card > :not(:last-child) {
    padding-bottom: 1.6rem;
    margin-bottom: 1.6rem; }
  .card > :last-child {
    margin-top: 2rem; }
  .card__heading-price-monthly {
    display: none; }
  .card__heading-price-annually {
    display: inline-block; }
  .card h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-neutral-4); }
  .card h2,
  .card h6 {
    border-bottom: 1px solid var(--color-neutral-2); }
  .card--basic, .card--master {
    background-color: var(--color-neutral-1);
    color: var(--color-neutral-3); }
  .card--pro {
    padding: 6rem 3.5rem 5.5rem;
    background-image: var(--color-primary-bottom);
    color: var(--color-neutral-1); }
    .card--pro h2 {
      color: var(--color-neutral-1); }

.dollar {
  margin-right: 1.5rem; }

.btn, .btn:link, .btn:visited {
  height: 4.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 28rem;
  text-decoration: none;
  border-radius: .5rem;
  transition: all 0.2s;
  cursor: pointer; }

.btn:hover, .btn:active {
  color: var(--color-primary);
  background-image: var(--color-neutral-2);
  border: 1px solid var(--color-button); }
  .btn:hover::after, .btn:active::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn--basic, .btn--master {
  background-image: var(--color-primary);
  color: var(--color-neutral-1); }

.btn--pro {
  background-image: none;
  background-color: var(--color-neutral-1);
  color: var(--color-button); }
  .btn--pro:hover, .btn--pro:active {
    color: var(--color-neutral-1);
    background-color: var(--color-button);
    border: 1px solid var(--color-neutral-1); }

.header {
  color: var(--color-neutral-3);
  text-align: center; }
  .header > * {
    margin-top: 4.5rem; }
  .header__card-section > * {
    margin: 3rem; }
  @media only screen and (min-width: 56.25em) {
    .header__card-section {
      display: flex;
      align-items: baseline; }
      .header__card-section > * {
        margin: 1rem 0; } }
