.header {
  color: var(--color-neutral-3);
  text-align: center;

  & > * {
    margin-top: 4.5rem;
  }

  &__card-section {
    & > * {
      margin: 3rem;
    }
    @include respond(tab-land) {
      & > * {
        margin: 1rem 0;
      }
      display: flex;
      align-items: baseline; // aligns the cards acc. to design
    }
  }
}
