.card {
  padding: 4rem 3.5rem 3rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 1.5rem 2rem rgba(0,0,0,.1);

  & > :not(:last-child) {
    padding-bottom: 1.6rem;
    margin-bottom: 1.6rem;
  }

  & > :last-child {
    margin-top: 2rem;
  }

  &__heading-price-monthly {
    display: none; //initial value
  }

  &__heading-price-annually {
    display: inline-block; //initial value
  }

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-neutral-4);
  }

  h2,
  h6 {
    border-bottom: 1px solid var(--color-neutral-2);
  }

  &--basic,
  &--master {
    background-color: var(--color-neutral-1);
    color: var(--color-neutral-3);
  }

  &--pro {
    padding: 6rem 3.5rem 5.5rem;
    background-image: var(--color-primary-bottom);
    color: var(--color-neutral-1);

    h2 {
      color: var(--color-neutral-1);
    }
  }
}

.dollar {
  margin-right: 1.5rem;
}
